@using BasitBlogProjesi.Models
@model IEnumerable<BlogModel>
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-9">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-4">
                    <img src="https://picsum.photos/250/200?random=1">
                </div>
                <div class="col-md-8">
                    <h4>@item.Baslik</h4>
                    <p>@item.Aciklama</p>
                    <hr />
                    <p class="text-right"><a href="/blog/details/@item.Id" class="btn btn-info btn-success">Devamını Oku</a></p>
                </div>
            </div>
            <hr />
        }
    </div>
    <div class="col-md-3">
        <ul class="list-group">
            @foreach (var item in ViewBag.Kategori)
            {
                <li class="list-group-item">
                    

                    <a href="/Home/KategoriBlog/@item.Id"> @item.KategoriAdi</a>
                </li>
            }


        </ul>
    </div>
</div>



